<style>.request_custom_fields_6431926234267{display:none}</style>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
  </nav>

  <div class="form-title">
    <h1>Seu contato é muito importante para nós</h1>
    <span>
      Envie-nos um e-mail preenchendo os campos abaixo, e logo retornaremos o seu contato
    </span>
  </div>

  <div id="main-content" class="form">
    {{request_form wysiwyg=true}}
  </div>
</div>
<script type="text/javascript">
	document.querySelector('#request_custom_fields_6431926234267').value = 'canal-helpcenter';

  document.addEventListener('click', e => {
    if (e.target.parentElement?.parentElement?.parentElement.className.indexOf('searchbox-suggestions') > -1) {
      e.target.setAttribute('target', '_blank');
    }
  });
</script>